
.fruit-item-div{
    width: 95%;
    height: 10vh;
    margin: 0.5vw;
    padding: 0.5vw;

    border: black 1px solid;
    border-radius: 5px;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.fruit-item-h2{
    display: inline-block;
    font-size: 3vw;
    width: 10vw;
}

.itemglow{
    box-shadow: inset 0px 0px 10px 12px lightgreen;
}


